<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
    <title>Youtube API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
  </head>
  <body>
 	<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">YouTube</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        </div>
      </div>
    </nav>
   <div class="container-fluid text-center">    
      <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
       <div class="col-sm-8 text-left"> 
           <div id="app">
            <div class="col-sm-12 col-md-6 col-lg-3">
             <h1>{{message}}</h1>
             <input type="text" v-model="search_string"/>
             <span class="search_results"></span>
             <br><br>
            </div>
            <div v-if="results_ok" class="col-sm-12 col-md-6 col-lg-9"> 
              <div class="col-sm-12">
            	<h5 class="text-weight-semibold text-dark text-uppercase">{{selected_video_title}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" v-bind:src="'https://www.youtube.com/embed/' + selected_video_id" frameborder="0" allowfullscreen></iframe>>
                </div>
             </div> 
              <div class="col-sm-12"> 
                <button v-on:click="cycle_through_array" class="btn btn-default pull-right" type="submit">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
                <button v-on:click="reverse_through_array" class="btn btn-default pull-left" type="submit"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Previous</button>
              </div>
            </div>
            
             
           
          
<div class="row">
						<div class="col-md-12">
							<section class="panel">
								<header class="panel-heading">
									<h1 v-if="results_ok" class="panel-title">Your Search Results</h1>
									<p v-if="results_ok" class="panel-subtitle">Click on one of the videos to start watching.</p>
								</header>
								<div class="panel-body">
									<div class="row">
                                      <div v-html="search_result"></div>
									</div>
								</div>
							</section>
						</div>
					</div>

          </div>    <!--END OF APP-->
      </div>
        <div class="col-sm-2 sidenav">
        </div>
      </div>
    </div>  
<footer class="container-fluid text-center">
  <p>Your Youtube Search Tool</p>
</footer> 
    <!-- Load the Vue library -->
    <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  	<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script>
   	new Vue({
		el: '#app',
		data: {
			message: 'Search for videos..', 
			results_ok:'',
			search_string: '',
			search_result: '',
			selected_video_title: '',
			selected_video_id: '',
			video_array:[],
			array_entry:[],
			selected_index: 0,
			counter:0
		},
		watch: {
			search_string: function(){
				this.search_result= '';
				
				if(this.search_string.length>5){
					this.searchYouTube();	
					
				}
			}
		},
		methods: {
			searchYouTube: _.debounce(function() {
				console.log(this.search_string.length);
				var app = this;
				app.search_result = 'Searching...';
				axios.get('https://www.googleapis.com/youtube/v3/search/' ,{ 
					params : {
					part: 'snippet',
					type: 'video',
					key: 'AIzaSyA9z5ZN8YraISA8FW-ZvrhZJ1EZso9Z5Bk',
					q: this.search_string
				}}).then(function(results){
						var html = "";
							var vid_len = "";
							var entries = results.data.items;
							var vid_lens ='';
							console.log('entries:', entries);

							
							entries.map(function (index, value) {
								console.log('val',index.id.videoId);
								var vid_id = index.id.videoId;	
								
								axios.get('https://www.googleapis.com/youtube/v3/videos/' ,{ 
											params : {
											part: 'snippet,contentDetails',
											id: vid_id,
											key: 'AIzaSyA9z5ZN8YraISA8FW-ZvrhZJ1EZso9Z5Bk'
										}
										}).then(function(search_vid){
											//console.log('search_vid',search_vid.data);
										entered =  search_vid.data.items[0].contentDetails.duration;
										if(!title){
											app.selected_video_title = search_vid.data.items[0].snippet.title;
											app.selected_video_id = vid_id;
										}
										var title = search_vid.data.items[0].snippet.title + ' <br> ' + app.YTDurationToSeconds(entered);
										var thumbnail = search_vid.data.items[0].snippet.thumbnails.default.url;
										
										
										//html += '<p>' + title + '</p>';
										//html += '<img src="' + thumbnail + '">';	
										
										html += '<div class="row"><div class="col-md-8"> <h5 class="text-weight-semibold text-dark text-uppercase">' + title + '</h5><div class="embed-responsive embed-responsive-16by9">';
										html += '<iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=' + vid_id + '"></iframe> </div> </div> <div class="col-md-4">';
										html += '	<h5 class="text-weight-semibold text-dark text-uppercase">' + title + '</h5><div class="embed-responsive embed-responsive-4by3"><iframe width="560" height="315" src="https://www.youtube.com/embed/' + vid_id + '" frameborder="0" allowfullscreen></iframe>></div></div></div>';
									
										app.search_result = html;
										app.results_ok = true;
										app.array_entry = {
												title_arr: title,
												id_arr: vid_id
										}
										app.video_array.push(app.array_entry);
									});
								
								});
	
						}).catch(function(error){
							console.log('err:', error)
						})
			},500),
			cycle_through_array: function(){
				var app = this;
				
				if(app.selected_index<app.video_array.length-1){
					app.selected_index ++;
					console.log('array_index', app.selected_index);
					console.log('app.video_array.length', app.video_array.length);
					app.selected_video_title = app.video_array[app.selected_index].title_arr;
					app.selected_video_id = app.video_array[app.selected_index].id_arr;
					
				}else{
					app.selected_index =0;
					console.log('array_index', app.selected_index);
					console.log('app.video_array.length', app.video_array.length);
					app.selected_video_title = app.video_array[app.selected_index].title_arr;
					app.selected_video_id = app.video_array[app.selected_index].id_arr;
				}
				
				
			},
			reverse_through_array: function(){
				var app = this;
			
				if(app.selected_index>0){
					app.selected_index --;
					console.log('array_index', app.selected_index);
					console.log('app.video_array.length', app.video_array.length);
					app.selected_video_title = app.video_array[app.selected_index].title_arr;
					app.selected_video_id = app.video_array[app.selected_index].id_arr;
					
				}else{
					app.selected_index =app.video_array.length-1;
					console.log('array_index', app.selected_index);
					console.log('app.video_array.length', app.video_array.length);
					app.selected_video_title = app.video_array[app.selected_index].title_arr;
					app.selected_video_id = app.video_array[app.selected_index].id_arr;
				}
				
				
			},
			 YTDurationToSeconds: function(duration) {
				  var match = duration.match(/PT(\d+H)?(\d+M)?(\d+S)?/)
				
				  var hours = (parseInt(match[1]) || 0);
				  var minutes = (parseInt(match[2]) || 0);
				  var seconds = (parseInt(match[3]) || 0);
				
				  return hours + 'hrs ' + minutes + 'mins ' + seconds + 'seconds';
				}
		}
	});
   
</script>

<script src="https://apis.google.com/js/api.js"></script>
 
  </body>
  </html>